@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {

    min-height: 100vh;
    background: #23242a;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background: repeat #1c1c1c;
    width: 100vw;

}

#container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h3 {
    color: white;
}

#titulos {
    color: white;
}